
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../styles/index.css">
        <link rel="shortcut icon" href="#">
        <title>ramen | からつばLABS</title>
    </head>

    <body>
        <div class="navbar">
            <a class="app-logo-text" href="#">ラーメン</a> <a class="karat-text" href="https://github.com/KaratsubaLabs">BY からつばLABS</a>
        </div> 

        <div class="main-container">
            <div class="title-container">
                <h1>🍜 the ramen index</h1> 
                <hr>
                <p>the <b>ramen</b> project is a collection of anime, manga and other content hosted by <b>からつばLABS</b> and ready for download or streaming
                </p>
                <hr>
            </div> 
            <ul>
                <a href="#"><li>dororo</li></a>
                <a href="#"><li>girl's last tour</li></a>
                <a href="#"><li>madoka magica</li></a>
                <a href="#"><li>wonder egg priority</li></a>
                <a href="#"><li>zoku owarimonogatari</li></a>
            </ul> 
        </div> 

    </body>

</html>

